html {
    background-color: rgb(0, 0, 0);
}
body{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 15px; 
}
header{
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
header:hover{
    color: blue;
    transition: 0.3s;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.questoes ol li{
    font-size: 20px;
    color: rgb(16, 0, 245);
}
.questoes form{
    margin-left: 20px;
}
.questoes form input{
    border-radius: 4px;
    color: rgb(0, 0, 0);
}
.questoes form input:hover{
    border-radius: 4px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 5px rgb(0, 4, 255);
}
#rest{
    margin-left: 90px;
    color: black;
}
#rest:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn1{
    color: black;
}
#btn1:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#rest2{
    margin-left: 90px;
    color: black;
}
#rest2:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn2{
    color: black;
}
#btn2:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#rest3{
    margin-left: 90px;
    color: black;
}
#rest3:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn3{
    color: black;
}
#btn3:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#rest4{
    margin-left: 90px;
    color: black;
}
#rest4:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn4{
    color: black;
}
#btn4:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#rest5{
    margin-left: 90px;
    color: black;
}
#rest5:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn5{
    color: black;
}
#btn5:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#rest6{
    margin-left: 90px;
    color: black;
}
#rest6:hover{
    color: red;
    transition: 0.3s;
    border-radius: 4px;
}
#btn6{
    color: black;
}
#btn6:hover{
    color: rgb(0, 255, 0);
    transition: 0.3s;
    border-radius: 4px;
}
#footer{
    text-align: center;
    font-family:'Courier New', Courier;
}